@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-family: "Roboto Mono", sans-serif;

$color-primary: rgb(187, 220, 232);
$color-secondary: rgb(12, 124, 222);
$color-tertiary: #fafafa;
$color-correct: green;
$color-incorrect: red;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    color: $color-tertiary;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // disables selection (highlighting)
    user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
}

// NAV

.nav-container {
    display: flex;
    align-items: center;
}

// .home-button {
//     max-width: 40%;
//     max-height: 40%;
// }

// BACKGROUND 

.world-map-background-containe{
    margin: 30px 0 30px 0;

};

$duration: 5s;

.world-map-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 1050px;
}


// HOME
            
.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 900px;
}

.continents {
    display: block;
    padding: 20px 250px 20px 250px;
    border-radius: 30px;
    font-size: 80px;
    background-color: $color-primary;
    color: $color-tertiary;
    border-color: $color-tertiary;
}

// GAME

.game-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 900px;
}

#flag {
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
    max-height: auto;
    border: 1px solid $color-tertiary;
    border-radius: 10px;
    margin: 10px 0px;
}

#hint{
    font-size: 160px;
    margin: 10px
}

// SCORE

#score {
    font-size: 110px;
    font-weight: bold;
    margin: 10px 32%;
    color: $color-tertiary;
    border-radius: 8px;
    padding: 2px 0;
}

#total-flags {
    font-size: 150px;
    font-weight: bold;
    margin: 10px 0;
}

.option {
    display: block;
    padding: 20px 250px 20px 250px;
    border-radius: 30px;
    font-size: 80px;
    background-color: $color-primary;
    color: $color-tertiary;
    border-color: $color-tertiary;
}

// MESSAGE 

.message.correct {
    color: $color-correct;
    font-weight: bold;
}

.message.incorrect {
    color: $color-incorrect;
    font-weight: bold;
}