@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$font-family: "Roboto Mono", sans-serif;

$color-primary: rgb(187, 220, 232);
$color-secondary: rgb(12, 124, 222);
$color-tertiary: #fafafa;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-primary;
    color: $color-tertiary;
    height: 100vh;
    width: 100vh;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
}

// NAV

.nav-container {
    display: flex;
    align-items: center;
}

// .home-button {
//     max-width: 40%;
//     max-height: 40%;
// }

// BACKGROUND 

.world-map-background-container {
    margin: 30px 0 30px 0;
}

.world-map-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  

// HOME
            
.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 600px;
}

.continents {
    display: block;
    padding: 20px 250px 20px 250px;
    border-radius: 30px;
    font-size: 80px;
    background-color: $color-primary;
    color: $color-tertiary;
    border-color: $color-tertiary;
}

// GAME

